@import "../vars";

.chat-container {
  display: flex;
  align-items: center;
  height: 7.1rem;
  padding: 2rem 2.4rem;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: $round-sz;
  box-sizing: border-box;

  .chat-textarea {
    box-sizing: border-box;
    flex-grow: 1;
    align-items: center;
    height: 3.1rem;

    font-size: 2rem;
    font-family: $inter;
    line-height: 1.55;
    color: $black;

    resize: none;
    border: none;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $gray;
    }
  }

  .send-button {
    width: 4rem;
    height: 4rem;
    margin-left: 20px;

    border-radius: 50%;
    border: none;
    background: #007bff url("./send_btn.svg") center no-repeat;
    background-size: cover;

    cursor: pointer;

    &:hover {
      background-color: #0069d9;
    }

    &:active {
      background-color: #005cbf;
    }

    &:focus {
      outline: none;
    }
  }
}