$primary: #202020;
$secondary: #121212;
$white: #ffffff;
$black: #000000;
$azure: #228be6;
$blue: #007AFE;
$light-blue: rgba(34, 118, 245, .2);
$container-size: 781px;

$sans: 'Open Sans', sans-serif;