$primary: #202020;
$secondary: #121212;
$white: #ffffff;
$black: #000000;
$gray: #CED0D6;
$azure: #228be6;
$blue: #007AFE;
$light-blue: rgba(34, 118, 245, .2);

$container-sz: 781px;
$round-sz: 1.6rem;

$sans: 'Open Sans', sans-serif;
$inter: 'Inter', sans-serif;